@page "/getintouch"

<div class="text-center border rounded my-5">
	<div class="lead">
		@*metini daha kalın ve vurgulu gosterir*@

		<div class="display-6">Contact</div>

		<div class="my-3">
			<i class="fa fa-phone text-primary"></i>
			Phone Number
			<p>+90 312 999 99 99</p>
		</div>

		<div class="my-3">
			<i class="fa-solid fa-address-book text-primary"></i>
			Address
			<p>123 Main Street<br>Cityville, State 12345</p>
		</div>

		<div class="my-3">
			<i class="fa-solid fa-envelope text-primary"></i>
			Email
			<p>support@email.com.tr</p>
		</div>
	</div>
</div>
@*razor page oldugunu belirtmek icin @page eklenir url = getintouch eklemezsek dosya adiyla olur *@
@*razor pageler controller yapisi olmadan calisan yapilardir. ornegin contact gibi bir alanda controllera ihtiyac yok*@